*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav1 {
background-color: rgba(10, 16, 63, 0.877);
}
#nav1 li {
padding-left: 20px;
}

#nav2 {
    z-index: 10;
    background-color:rgba(77, 91, 168, 0.986);
    }

 #nav2 li {
        padding-left: 20px;
       }
       



       /*---------------FOOTER--------------------*/
       
.page-footer{
    background-color:  rgba(10, 16, 63, 0.877);
}